@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><h4>To view customers, please  <a href="/Customers">click here</a>.</h4></p>
</div>
